.block {
  box-sizing: border-box;
  width: 23%;
  border: 5px solid transparent;
  margin: 10px 0;
  color: #666;
  &__title {
    display: flex;
    justify-content: space-between;
    min-width: 200px;
    height: 200px;
    box-sizing: border-box;
    padding: 16px;
    border: 10px solid transparent;
    &:hover {
      box-shadow: 0 15px 15px #8f8f8f;
    }
    @media screen and (max-width: 900px) {
      display: flex;
      height: 68px;
      padding: 0;
      &:hover {
        box-shadow: none;
      }
    }
  }
  @media screen and (max-width: 900px) {
    width: 100%;
  }
  li {
    position: relative;
  }
  p {
    position: relative;
    padding: 5px;
    margin-top: 13px;
  }

  p + em {
    display: none;
    width: 200px;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    left: 200px;
    z-index: 10;
    background-color: rgb(221, 237, 232);
  }
  p:hover + em {
    display: block;
  }
}
.titleWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  @media screen and (max-width: 900px) {
    flex-direction: row;
    align-items: center;
    width: 0;
  }
}

.heading {
  font-size: 33px;
  &__description {
    font-size: 16px;
  }

  &__price {
    width: 100%;
    margin-top: 5px;
    font-size: 28px;
    font-weight: 600;
    text-align: right;
    text-transform: uppercase;
  }
}
.btnForOpen {
  background-color: #ffffff00;
  border: none;
}
.forLine {
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.561);
}
.contentWrapper {
  padding: 0.7rem;
  &__description {
    margin-bottom: 10px;
  }
}
.forGreyLine {
  @media screen and (max-width: 900px) {
    padding: 0.7rem;
    border-top: 1px solid rgba(128, 128, 128, 0.49);
  }
}

.itemContent {
  min-width: 170px;
  margin-left: 10px;
}
.btnStart {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;

  color: #fff;
  font-size: 20px;
}
